<div class="authform">
  <%= form_for @user, url: upload_path, html: { multipart: true }, method: "post" do |f| %>
    <h3>Upload Resume</h3>

    <div class="form-group">
      <label for="user_document"> <%= @user.document? ? @user.document_file_name.to_s : "Document" %> </label>
      <%= f.file_field :document, class: 'form-control' %>
    </div>

    <%= f.submit "Upload", class: "button right"%>
  <% end %>

  <%= form_for @user, url: info_path, html: { multipart: true }, method: "post" do |f| %>

    <h3> Edit Info </h3>

    <div class="form-group">
      <%= f.label :major %>
      <%= f.collection_select :major, User::MAJORS.map { |value| [ value, value ] }, :first, :second, {prompt: @user.major? ? @user.major : "Select Major" }, {class: "form-control"}%>

    </div>

    <div class="form-group">
      <%= f.label :graduation_year %>
      <%= f.collection_select :year, User::GRADUATION.map { |value| [ value, value ] }, :first, :second, {prompt: @user.year? ? @user.year : "Select Year" }, {class: "form-control"}%>
    </div>

    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>
    </div>

    <fieldset>
      <p>Check this box if you do not want other brothers to see your resume on the "Resumes" tab.</p>
      <div class="form-group">
        <%= f.label :private %>
        <%= f.check_box :private %>
      </div>
    </fieldset>

    <%= f.submit "Update", class: "button right"%>
  <% end %>
</div>
