<% @users.each do |u| %>
<% end %>
<div class="table-responsive">
  <table id="resume-table" class="table table-condensed table-hover tablesorter">
    <thead>
      <tr>
        <th>Name</th>
        <th>Resume</th>
        <th>Email</th>
        <th>Major</th>
        <th>Graduation Year</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
        <a href="/users/<%=u.id%>">
          <tr>
            <th> <!-- Name -->
              <a href="/users/<%=u.id%>">
                <%= u.name %>
              </a>
            </th>
            <th> <!-- Document -->
              <a href="<%= u.document.url(:original) %>">
                <%= image_tag u.document.url(:thumbnail) %>
              </a>
            </th> <!-- Info -->
            <th><%= u.email %></th>
            <th><%= u.major %></th>
            <th><%= u.year %></th>
          </tr>
        </a>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function() {
    $('#resume-table').tablesorter();
  });
</script>
